extends layout

block content
    h1 Login Page
    form(method='POST' action='/login')
        div
            h2 Insert username
            input#username(type='text' name='username')
        div
            h3 Insert password
            input#username(type='password' name='password')
        div
            button(type='submit' value='login') Login
